<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
		    <tr th:each="storedTransactions : ${transactions}">
				<td><a th:href="@{/transactions/{id}(id=${storedTransactions.id})}">[[${storedTransactions.id}]]</a></td>
				<td>[[${storedTransactions.date}]]</td>
				<td>[[${storedTransactions.retailer}]]</td>
				<td>
					<span th:if="${storedTransactions.type} == 'C'">[[${storedTransactions.amount}]] </span>
				</td>
				<td>
					<span th:if="${storedTransactions.type} == 'D'">[[${storedTransactions.amount}]] </span>
				</td>
			</tr>
		</table>
	</body>
</html>